;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[org.clojure/core.logic "1.0.0"]
  [reagent "1.0.0-alpha1"]]
 
 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn sudokusolver.app/main}}
   :devtools {:before-load shadow.core/stop
              :after-load shadow.core/start}}}}
